<div class="whole__container">
    <h1>Sign Up</h1>
    <div class="div_align">
        Username :
        <input type="text" placeholder="Enter username" [(ngModel)]="username"> 
    </div>
    <div>
        Password :
        <input [type]="fieldType ? 'text' : 'password'" placeholder="Enter Password" [(ngModel)]="password">
        <span class="input-group-text eye_type">
            <i
              class="fa"
              [ngClass]="{
                'fa-eye-slash': !fieldType,
                'fa-eye': fieldType
              }"
              (click)="toggleFieldType()"
            ></i>
        </span>
    </div>
    <div class="button_holder">
        <button class="signin_link" (click)="signInPage()">Old User?</button>
        <button class="sign_up" (click) = "register()">Sign Up</button>
    </div>
</div>

